
			ul {
	  			list-style-type: none;
	  			margin: 0;
	  			padding: 0;
	  			overflow: hidden;
	  			background-color: #4D4D4D;
	  			position: fixed;
	  			width: 98.5%;
                z-index: 10000;
			}

			li {
			  	float: left;
			  	border-right: 4px solid #418FDE;
			}

			li a {
			  	display: block;
			  	color: #418FDE;
			  	text-align: center;
			 	padding: 14px 16px;
			  	text-decoration: none;
                font-family: 'Nunito Sans', sans-serif;
			  
			}


			li a:hover {
			  	background-color: #4D4D4D;
			}


		.hometitletext{

			color: #232222;
			font-size: 150px;
			text-align: center;
			font-family: 'Nunito Sans', sans-serif;

			
		}

        .parallaxtext{

			color: white;
			font-size: 150px;
			text-align: center;
			font-family: 'Raleway', sans-serif;;
			
		}



		#goal3button{

			background-color: #469B49;
			vertical-align: middle;
			color: white;
			font-size: 50px;
			padding: 9px;
			border-radius: 8px;
			margin: 30px;
			font-family: 'Nunito Sans', sans-serif;



		}

		#goal8button{

			background-color: #9F253E;
			vertical-align: middle;
			color: white;
			font-size: 50px;
			padding: 9px;
			border-radius: 8px;
			margin: 30px;
			font-family: 'Nunito Sans', sans-serif;

		}

		#commonlinkbtn{

			background-color: #949391;
			vertical-align: middle;
			color: white;
			font-size: 50px;
			padding: 9px;
			border-radius: 8px;
			margin: 30px;
			font-family: 'Nunito Sans', sans-serif;

		}

        .goalsdivs {
            
            background-color: #949391;
            
        }



		

		.active {
 			 background-color: #4D4D4D;
		}

		

		.parallax {

			
			min-height: 800px;
			background-attachment: fixed;
		  	background-position: center;
		  	background-repeat: no-repeat;
		  	background-size: cover;

		}

		#parallaxH {

			background-image: url("projectimages/Flag_of_the_United_Nations.svg");
		}

		#parallax3 {

			background-image: url("projectimages/817699.jpg");
		}
        
        #parallax8 {

			background-image: url("projectimages/429849.jpg");
		}

        #parallaxCL {
    			
            background-image: url("projectimages/United_Nations_Flags_-_cropped.jpg");

    
        }

		

		#smallimg {

			height: 100px;
			width: 100px;
			position: fixed;
			float: right;

		}

		#topimg {

			 float: right;

		}

        
        #results {
            
            text-align: center;
            font-family: 'Nunito Sans', sans-serif;
        }

        #fname {
            height: 25px;
            width: 100px;
            

        }


        .flip-card {
          background-color: transparent;
          width: 300px;
          height: 200px;
          perspective: 1000px;
          padding-top: 100px;
          padding-bottom: 200px;
        }

        .flip-card-inner {
          position: relative;
          width: 100%;
          height: 100%;
          text-align: center;
          transition: transform 0.9s;
          transform-style: preserve-3d;
        }

       /* .flip-card:hover .flip-card-inner {
          transform: rotateY(180deg);
        }
*/

        .flip-card-front, .flip-card-back {
          position: absolute;
          width: 100%;
          height: 100%;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
        }

        .flip-card-front {
          background-color: #bbb;
          color: black;
        }

        .flip-card-back {
        background-color: #469B49;
        color: white;
        transform: rotateY(180deg);
        width: 300px;
        height: 300px;
        }


        .words {
    
            font-family: 'Nunito Sans', sans-serif;
    
        }

        


ul.topnav li a:hover:not(.active) {background-color: #3F3F3F}
ul.topnav li a.active {background-color: #3F3F3F}




        .hvr-radial-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  background: #e1e1e1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-radial-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #4D4D4D;
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-radial-out:hover, .hvr-radial-out:focus, .hvr-radial-out:active {
  color: white;
}
.hvr-radial-out:hover:before, .hvr-radial-out:focus:before, .hvr-radial-out:active:before {
  -webkit-transform: scale(2);
  transform: scale(2);
}
