
			ul {
	  			list-style-type: none;
	  			margin: 0;
	  			padding: 0;
	  			overflow: hidden;
	  			background-color: #4D4D4D;
	  			position: fixed;
	  			width: 98.5%;
			}

			li {
			  	float: left;
			  	border-right: 4px solid #418FDE;
			}

			li a {
			  	display: block;
			  	color: #418FDE;
			  	text-align: center;
			 	padding: 14px 16px;
			  	text-decoration: none;
			  
			}


			li a:hover {
			  	background-color: #4D4D4D;
			}


		.hometitletext{

			color: #232222;
			font-size: 150px;
			text-align: center;
			font-family: 'Noto Serif';

			
		}

        .parallaxtext{

			color: white;
			font-size: 150px;
			text-align: center;
			font-family: 'Noto Serif';
			
		}



		#goal3button{

			background-color: #469B49;
			vertical-align: middle;
			color: white;
			font-size: 50px;
			padding: 9px;
			border-radius: 8px;
			margin: 30px;
			font-family: 'Noto Serif';



		}

		#goal8button{

			background-color: #9F253E;
			vertical-align: middle;
			color: white;
			font-size: 50px;
			padding: 9px;
			border-radius: 8px;
			margin: 30px;
			font-family: 'Noto Serif';

		}

		#commonlinkbtn{

			background-color: #949391;
			vertical-align: middle;
			color: white;
			font-size: 50px;
			padding: 9px;
			border-radius: 8px;
			margin: 30px;
			font-family: 'Noto Serif';

		}

        .goalsdivs {
            
            background-color: #949391;
            
        }



		}

		.active {
 			 background-color: #4D4D4D;
		}

		

		.parallax {

			
			min-height: 800px;
			background-attachment: fixed;
		  	background-position: center;
		  	background-repeat: no-repeat;
		  	background-size: cover;

		}

		#parallaxH {

			background-image: url("projectimages/Flag_of_the_United_Nations.svg");
		}

		#parallax3 {

			background-image: url("projectimages/Capture.png");
		}
        
        #parallax8 {

			background-image: url("projectimages/429849.jpg");
		}

        #parallaxCL {
    			
            background-image: url("projectimages/United_Nations_Flags_-_cropped.jpg");

    
        }

		

		#smallimg {

			height: 100px;
			width: 100px;
			position: fixed;
			float: right;

		}

		#topimg {

			 float: right;

		}

        
        #results {
            
            text-align: center;
        }

        #fname {
            height: 200px;
            width: 400px;
            

        }


        .flip-card {
          background-color: transparent;
          width: 300px;
          height: 200px;
          perspective: 1000px;
          padding-top: 100px;
          padding-bottom: 200px;
        }

        .flip-card-inner {
          position: relative;
          width: 100%;
          height: 100%;
          text-align: center;
          transition: transform 0.9s;
          transform-style: preserve-3d;
        }

        .flip-card:hover .flip-card-inner {
          transform: rotateY(180deg);
        }

        .flip-card-front, .flip-card-back {
          position: absolute;
          width: 100%;
          height: 100%;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
        }

        .flip-card-front {
          background-color: #bbb;
          color: black;
        }

        .flip-card-back {
          background-color: #469B49;
          color: white;
          transform: rotateY(180deg);
        }

        


ul.topnav li a:hover:not(.active) {background-color: #3F3F3F}
ul.topnav li a.active {background-color: #3F3F3F}